# Flask Configuration
PORT=5000
FLASK_ENV=development
SECRET_KEY=your_jwt_secret_key_here

# Supabase PostgreSQL Database URI (Recommended for Vercel persistence)
# Find in Supabase Dashboard -> Project Settings -> Database -> Connection String (URI)
DATABASE_URL=postgresql://postgres:[YOUR-PASSWORD]@db.tebujzgndtzmhiodazsd.supabase.co:5432/postgres

# Supabase Client API Keys
SUPABASE_URL=https://tebujzgndtzmhiodazsd.supabase.co
SUPABASE_KEY=sb_publishable_BmeCPpabQF2z2yeJWjXcdg_AkRktpFo
